.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: wheat;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span{
    color: #26ffcb;
    padding-left: 15px;
}

.reset{
    width: 250px;
    height: 80px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    
}

.boxes{
    display: flex;
    height: 150px;
    width: 150px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board{
    height: 400px;
    width: 464px;
    display: flex;
    margin: auto;
    
}

.boxes {
    height: 100px;
    width: 100px;
}
.boxes img{
    margin: 40px 40px;
}

.title img{
    padding: 20px 20px;
    height: 50px;
}
